<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Compra</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>¡Muchas gracias por tu compra!</h1>
        <div class="lista-productos">
            <!-- Aquí se listarán los productos -->
        </div>
        <div class="detalles-resumen"></div>
        <p>En unos días te enviaremos tu comprobante de pago correspondiente.</p>
    </div>

    <script src="../../control/js/compras.js"></script>
</body>
</html>
