<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Como elegir Inversor</title>
    <meta
      name="description"
      content="En esta sección explicaremos el porqué de los watts máximo y los watts continuos, para poder elegir el inversor apropiado a su necesidad"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="vistas/css/elegirInv.css" />
    <link href="vistas/css/navbar.css" rel="stylesheet" />
    <script src="../../control/js/User.js"></script>

    <script src="../../control/js/verificarsesion.js"></script>
    <link rel="stylesheet" href="vistas/css/modal.css" />

    <script src="../../control/js/navbar.js"></script>

    <script type="text/javascript" src="../../control/js/modernizr.js"></script>
    <script
      type="text/javascript"
      src="../../Control/js/prefixfree.min.js"
    ></script>
  </head>

  <body>
    <div id="mainHome">
      <header id="header">
        <div id="logo">
          <img
            src="vistas/extras/img/logotipo.png"
            alt="logo Invercom"
            title="Invercom: Fabrica de Inversores Electronicos"
            height="96"
            width="180"
          />
        </div>
        <div id="titulo">
          <h1>Fabricante de Inversores Electrónicos</h1>
        </div>
      </header>
      <nav id="main-navbar"></nav>

      <section>
        <h1>Como elegir el inversor apropiado para sus aparatos</h1>
        <h4>
          Le rogamos sea paciente y lea toda la página, se convertirá en un
          experto
        </h4>

        <p>
          Por razones comerciales la mayoría de los inversores solo indican su
          potencia en watts máximo, sin indicar los watts continuos que
          soportan. En esta sección explicaremos el porqué de los watts máximo y
          los watts continuos, para poder elegir el inversor apropiado a su
          necesidad.
        </p>

        <p>
          Todos los aparatos eléctricos y electrónicos tienen un consumo en el
          momento de encender (consumo máximo) y un consumo menor en
          funcionamiento (consumo continuo) los aparatos consumen hasta tres
          veces más al encender, en motores de alta (3600 RPM.) hasta 6 veces
          más.
        </p>

        <p class="ejemplo">
          Ejemplo: un motor eléctrico ahorrador de energía que consume 1000
          watts en funcionamiento, consumirá 3000 watts en el momento de
          encender. Una televisión que consume 200 watts en funcionamiento,
          consumirá 600 watts en el momento de encender.
        </p>

        <p class="nota">
          NOTA: El consumo máximo en motores eléctricos que no son ahorradores
          de energía puede variar de tres hasta ocho veces más en el momento de
          encender.
        </p>

        <p>
          Todos los aparatos tienen indicado su consumo y su voltaje de
          funcionamiento, normalmente en la parte trasera. Algunos aparatos
          indican su consumo en watts con una (w) que es lo mismo, el voltaje se
          indica también con una (v). Otros aparatos indican su consumo en
          amperes o (amp) el cual hay que convertir a watts mediante una
          multiplicación, amperes por volts.
        </p>

        <p class="ejemplo">
          Ejemplo1: una televisión que indica consumo en 1.3 amperes 120 volts
          (1.3 x 120 = 156) la televisión consume 156 watts continuos y en el
          momento de encender 468 watts máximo.
        </p>

        <p>
          Ejemplo2: Un refrigerador ahorrador de energía que indica consumo de
          3.2 amperes 120 volts (3.2 x 120 = 384) el refrigerador consume 384
          watts continuos y en el momento de encender 1152 watts máximo. La
          misma operación para aparatos que se conecten a 220 volts. (Amperes
          por volts)
        </p>

        <p class="nota">
          Al elegir el inversor tome en cuenta la suma de los watts de todos los
          aparatos que conectará.
        </p>

        <p class="ejemplo">
          Ejemplo: un refrigerado ahorrador de energía 384 watts, una televisión
          156 watts cinco focos ahorradores de energía de 24 watts y un
          ventilador de 60 watts, (348+156+24+24+24+24+24+60=720) consumo total
          720 watts continuos y en el momento de encender 2160 watts máximo. Un
          inversor 2400 watts máximo 800 watts continuos es una excelente
          elección. Es preferible comprar un inversor con salida regulada, para
          proteger sus aparatos.
        </p>

        <p class="nota">
          NOTA: si elige un inversor más potente, digamos 4500 watts máximo 1500
          watts continuos, no afecta en nada a sus aparatos y si prolonga la
          vida de un inversor, pues trabaja con menos carga para el cual fue
          diseñado, pero es más costoso.
        </p>

        <p class="pie">
          Hay que tomar en cuenta el consumo del inversor. Ejemplo: un inversor
          alimentación 12 vdc. 4500 Watts máximo 1500 watts continuos, a plena
          carga tendrá un consumo de 125 amperes hora, si se conecta a un
          vehículo hay que verificar que el alternador tenga la capacidad
          suficiente para producir 125 amperes extra, o si se conecta a un banco
          de baterías hay que verificar que den los suficientes amperes hora
          para cubrir el tiempo de energía requerido.
        </p>

        <!-- <address>
          <a href="http://www.invercom.com.mx">Invercom.com.mx</a>
        </address>
        <button onClick="window.print();">Imprimir</button
        >&nbsp;&nbsp;&nbsp;&nbsp;<button onClick="window.close();">
          Cerrar
        </button> -->
      </section>
      <footer id="footer">
        <p></p>
        <p>
          Los inversores INVERCOM para energía solar son para hacer funcionar
          todo tipo de aparatos electrónicos y eléctricos (carga resistiva y
          carga inductiva). Contamos con gran variedad... Inversores para equipo
          de computo, inversores para electrodomesticos, inversore para climas,
          inversores para motores eléctricos, inversores grado médico y mas...
        </p>
        <address>
          <a href="mailto:informes@invercom.com.mx" title="e-mail"
            >informes@invercom.com.mx</a
          >
          <br />Cel.55-6256-6778 para WhatsApp<br />Tel.55-5738-0318 y
          55-5733-9713
        </address>
        <address id="sign">
          <a
            href="mailto:ortegon000@hotmail.com"
            title="Eduardo Ortega: Desarrollo Web"
            style="color: #ddd; font-size: 1em; padding: 1em"
          >
            © 2013 | Por: Eduardo Ortega.
          </a>
        </address>
      </footer>
    </div>
    <div id="modal-mensaje" class="modal">
      <div class="modal-contenido">
        <span class="cerrar">&times;</span>
        <img src="" alt="Imagen" id="mensaje-imagen" />
        <p id="mensaje-texto"></p>
        <button id="btn-aceptar-mensaje">Aceptar</button>
      </div>
    </div>
  </body>
</html>
