<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>INVERCOM|Video Inversor con motor</title>

	<link rel="stylesheet" href="css/videoInv.css">

	<script src="js/modernizr.js"></script>
	<script src="js/prefixfree.min.js"></script>

<style type="text/css">
	
</style>
</head>
<body>
	<section>
		<article>
			<p>Se utiliza un inversor 4500 watts máximo, 1500 watts continuos con forma de onda semisenoidal pura, frecuencia controladora, salida regulada.</p>
			<p>Se pone en funcionamiento un motor de medio caballo , con un consumo de 11.0 amperes este funcionamiento se puede hacer de forma continuea con suficientes baterias.</p>
		</article>
		<iframe src="http://www.youtube.com/embed/2Fs0Sab52xo?rel=0" allowfullscreen></iframe>
	</section>
</body>
</html>
